@font-face {
   font-family: "Bebas Neue Bold";
   src: url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.eot") format("embedded-opentype"), url("fonts/BebasNeueBold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Regular.woff") format("woff"), url("fonts/Montserrat Regular.eot") format("embedded-opentype"), url("fonts/Montserrat Regular.ttf") format("truetype"), url("fonts/Montserrat Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Bahnschrift Light SemiCondensed";
   src: url("fonts/Bahnschrift.woff") format("woff"), url("fonts/Bahnschrift.eot") format("embedded-opentype"), url("fonts/Bahnschrift.ttf") format("truetype"), url("fonts/Bahnschrift.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}